.aqi-chart-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  .week {
    margin-left: 10px;
    width: 70px;
  }
  .day {
    margin-left: 5px;
    width: 10px;
  }
  .month {
    margin-left: 15px;
    width: 300px;
  }
  &:first-child {
    margin-left: 0px;
  }
}